<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes information</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'quotesapp/style.css' %}">
</head>

<body>
    <header class="container">
        <div style="display: flex; justify-content: space-between; padding: 0 15px">
            <a href="/">
                <h1 style="margin-bottom: 0;">Quotes</h1>
            </a>
            <ul style="display: flex; gap: 20px">
                {% if user.is_authenticated %}
                <li style="list-style: none; margin-top: 12px;">
                    <p>Welcome <b>{{ user.username }}!</b></p>
                </li>
                <li style="list-style: none;">
                    <a href="{% url 'users:logout' %}" role="button" class="secondary">Log Out</a>
                </li>
                {% else %}
                <li style="list-style: none;">
                    <a href="{% url 'users:signup' %}" role="button" class="secondary">Sign Up</a>
                </li>
                <li style="list-style: none;">
                    <a href="{% url 'users:login' %}" role="button">Log In</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <nav style="margin-bottom: 15px; border-bottom: 2px solid; padding: 0 15px">
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'quotesapp:tag' %}"> Add tag </a>
                </li>
                <li>
                    <a href="{% url 'quotesapp:author' %}"> Add author </a>
                </li>
                <li>
                    <a href="{% url 'quotesapp:quote' %}"> Add quote </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>
