{% extends "quotesapp/base.html" %}

{% block content %}


{% if user.is_authenticated %}
<a href="{% url 'quotesapp:migration' %}" role="button" style="display: block;">
    Migration
</a>
{% endif %}
<ul>
    {% for quote in quotes %}
    <li style="list-style: none;">
        <article>
            <p>{{ quote.text }}</p>
            <h3>By:
                <a href="{% url 'quotesapp:author_quotes' quote.author.id %}">
                    {{ quote.author.name }}
                </a>
            </h3>
            <p><b>Tags:</b></p>
            {% for tag in quote.tags.all %}
            <span>
                <a href="{% url 'quotesapp:quotes_by_tag' tag.id %}">
                    {{ tag.name }}
                </a>{% if not forloop.last %}, {% endif %}
            </span>
            {% endfor %}
        </article>
    </li>
    {% endfor %}
</ul>

{% endblock %}
