{% extends "quotesapp/base.html" %}

{% block content %}

<h1>Quotes</h1>
<ul>
    {% for quote in quotes %}
    <li style="list-style: none;">
        <article>
            <p>{{ quote.text }}</p>
            <p>By: {{ quote.author.name }}</p>
            <p>Tags:</p>
            {% for tag in quote.tags.all %}
            <span>
                {{ tag.name }}{% if not forloop.last %}, {% endif %}
            </span>
            {% endfor %}
        </article>
    </li>
    {% endfor %}
</ul>

{% endblock %}
