{% extends "quotesapp/base.html" %}

{% block content %}
<h1>Quotes tagged with "{{ tag.name }}"</h1>

{% if quotes %}
<ul>
    {% for quote in quotes %}
    <li style="list-style: none;">
        <article>
            <p>{{ quote.text }}</p>
            <h3>By:
                <a href="{% url 'quotesapp:author_quotes' quote.author.id %}">{{ quote.author.name }}</a>
            </h3>
        </article>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No quotes found for this tag.</p>
{% endif %}
{% endblock %}
