{% extends "quotesapp/base.html" %}

{% block content %}

<form method="POST" action="{% url 'quotesapp:quote' %}">
    {% csrf_token %}
    <div style="padding: 10px">
        <label> Quote:
            {{ form.text }}
        </label>
        <span>{{ form.errors.text }}</span>
    </div>
    <div style="padding: 10px">
        <label> Select author:
            <select name="author" required>
                <option value="" disabled selected>Select</option>
                {% for author in authors %}
                <option value="{{ author.id }}">{{ author.name }}</option>
                {% endfor %}
            </select>
        </label>
        <span>{{ form.errors.author }}</span>
    </div>
    <div style="padding: 10px">
        <label>Select tags:</label>
        {% for tag in tags %}
        <div>
            <input type="checkbox" name="tags" value="{{ tag.id }}">
            {{ tag.name }}
        </div>
        {% endfor %}
        <span>{{ form.errors.tags }}</span>
    </div>
    <footer class="grid">
        <button type="submit">Submit</button>
        <button type="reset" class="secondary">Reset</button>
    </footer>
</form>


{% endblock %}
